.container{
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    /* flex-direction: column-reverse; */
}

.container div{
    background-color: coral;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

@media screen and (max-width:600px) {
    .container{
        flex-direction: column;
    }
    .container div{
        width: 80%;
    }
}