section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #fff;
}

.box-shadow{
    width: 250px;
    height: auto;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out, width 0.3s ease-in-out, transform 2s;
}

.box-shadow:hover{
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.5);
    width: 300px;
    height: 250px;
    transform: rotate(359deg);
}

.text-shadow{
    width: 250px;
    margin: 20px;
    text-shadow: 2px -1px 5px rgba(0,0,0,0.6);
}

.gradient{
    background: #ff0000;
    background: linear-gradient(90deg,#ff0000 10%, #7e58ff 40%, #00ff44 60%, #ff0069 85%, #00ff00 100%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}

#divv{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 3s, height 2s, background-color 4s, transform 2s;
    transition-delay: 1s;
}

#divv:hover{
    width: 300px;
    height: 200px;
    background-color: blue;
    transform: rotate(180deg);
}

#div1{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s;
    transition-timing-function: linear;
}
#div1:hover{
    width: 300px;
}

#div2{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s;
    transition-timing-function: ease;
}
#div2:hover{
    width: 300px;
}

#div3{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s;
    transition-timing-function: ease-in;
}
#div3:hover{
    width: 300px;
}

#div4{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s;
    transition-timing-function: ease-out;
}
#div4:hover{
    width: 300px;
}

#div5{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s;
    transition-timing-function: ease-in-out;
}
#div5:hover{
    width: 300px;
}

button{
    margin: 20px;
    padding: 15px 25px;
    font-size: 16px;
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    transition: background-color 1s, ease-out, transform 1s ease-out;
}

button:hover{
    background-color: lightgreen;
    transform: scale(1.3);
}