/* #animate1{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: firstAni;
    animation-duration: 2s;
}

@keyframes firstAni{
    from{background-color: red;}
    to{background-color: yellow;}
}

#animate2{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: secondAni;
    animation-duration: 2s;
}

@keyframes secondAni{
    0%{background-color: red;}
    25%{background-color: yellow;}
    50%{background-color: blue;}
    75%{background-color: green;}
    100%{background-color: aqua;}
}

#animate3{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: Ani3;
    animation-duration: 4s;
    position: relative;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
}

@keyframes Ani3{
    0%{background-color: red; left: 0px; top: 0px;}
    25%{background-color: yellow; left: 200px; top: 0px;}
    50%{background-color: blue; left: 200px; top: 200px;}
    75%{background-color: green; left: 0px; top: 200px;}
    100%{background-color: red; left: 0px; top: 0px;}
}

.ball{
    width: 50px;
    height: 50px;
    background-color: #f6ff66;
    border-radius: 50%;
    animation: bounce 2s infinite;
    
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-200px);
    }
}

.text{
    font-size: 2rem;
    animation: fade 3s infinite;
    background-color: black;
    padding: 10px;
    color: #fff;
    width: 200px;
}

@keyframes fade{
    0%, 100% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.square{
    width: 100px;
    height: 100px;
    background-color: #61db10;
    animation: rotate 4s infinite linear;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.container{
    display: flex;
    gap: 10px;
    margin-left: 500px;
}

.squ{
    width: 30px;
    height: 30px;
    background-color: black;
    animation: slideInOut 3s infinite ease-in-out;
}

.squ:nth-child(2){
    animation-delay: 0.3s;
}
.squ:nth-child(3){
    animation-delay: 0.6s;
}
.squ:nth-child(4){
    animation-delay: 0.9s;
}
@keyframes slideInOut {
    0%, 100%{
        transform: translateX(-200%);
        background-color: #3498db;
    }
    50%{
        transform: translateX(200%);
        background-color: #e74c3c;
    }
} */

body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f8ff;
            overflow: hidden;
        }

.card{
    width: 350px;
    height: 200px;
    perspective: 1000px;
}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: flip 5s infinite;
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card-front{
    background-color: #3498db;
    color: white;
}

.card-back{
    background-color: #e74c3c;
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

@keyframes flip{
    0% {
        transform: rotateY(0);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}