/* div{
    display: inline-block;
}

#div1{
    border-radius: 10%;
    background-color: #74ad21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#div2{
    border-radius: 15px 50px;
    border-radius: 50px 0 0 50px;
    border: 2px solid #74ad21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#div3{
    border-radius: 25px;
    background-image: url('Image/bathroom.jpg');
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#div4{
    width: 100px;
    height: 50px;
    background-color: black;
    border-radius: 7px;
}

#circle{
    width: 150px;
    height: 150px;
    background-color: #ff5733;
    border-radius: 50%;
}

#borderImg{
    border: 10px solid transparent;
    padding: 10px;
    border-image: url('Image/console.jpg') 30 round;
    border-image: url('Image/console.jpg') 30 stretch;
} */

/* body{
    background-image: url('Image/cake.jpg');
} */

#divv{
    background-color: lightcoral;
    border: 2px solid black;
    padding: 15px;
    width: 500px;
}

#divv1{
    background-color: transparent;
    border: 2px solid black;
    padding: 15px;
    width: 500px;
}

#cc{
    color: blueviolet;
    border: 2px solid currentColor;
    padding: 15px;
    width: 500px;
}

#inh{
    border: 2px solid red;
    width: 500px;
    padding: 5px;
}

span{
    border: inherit;
    padding: inherit;
}