.static{
    position: static;
    border: 1px solid #73ad21;
}

.relative{
    position: relative;
    border: 1px solid #46d890;
    left: 400px;
    top: 45px;
    width: 500px;
}

.fixed{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 200px;
    border: 2px solid #2109ca;
}

.rel{
    position: relative;
    width: 400px;
    height: 300px;
    border: 3px solid #46d890;
}

.absolute{
    position: absolute;
    top: 100px;
    right: 0;
    width: 200px;
    height: 150px;
    border: 2px solid brown;
}

.sticky{
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #46d890;
}

.container{
    position: relative;
}

.center{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.center p{
    background-color: black;
    width: 25%;
    margin: auto;
    color: white;
    padding: 10px;
}

img{
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.topRight{
    position: absolute;
    top: 10px;
    right: 10px;
}

.topLeft{
    position: absolute;
    top: 10px;
    left: 10px;
}

.bottomLeft{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.bottomRight{
    position: absolute;
    bottom: 10px;
    right: 10px;
}