#grad1{
    height: 200px;
    width: 500px;
    background-color: red;
    background-image: linear-gradient(to top,red, yellow);
}

#grad2{
    height: 200px;
    width: 500px;
    background-color: red;
    background-image: linear-gradient(to left,red, yellow);
}

#grad3{
    height: 200px;
    width: 500px;
    background-image: linear-gradient(to top left, red, yellow);
}

#grad4{
    height: 200px;
    width: 500px;
    background-image: linear-gradient(180deg, red, yellow);
}

#grad5{
    height: 200px;
    width: 500px;
    background-image: linear-gradient(240deg, red, yellow);
}

#grad6{
    height: 200px;
    width: 500px;
    background-image: linear-gradient(90deg, red, yellow);
}

#grad7{
    height: 200px;
    width: 500px;
    background-image: linear-gradient(red, green, blue);
}

#grad8{
    height: 200px;
    width: 500px;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

#grad9{
    height: 200px;
    width: 500px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

#grad10{
    height: 200px;
    width: 500px;
    background-image: linear-gradient(to right, rgba(0,255,0,0), rgba(0,255,0,1));
}

#grad11{
    height: 200px;
    width: 500px;
    background-image: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,1));
}

#rad1{
    height: 200px;
    width: 500px;
    background-image: radial-gradient(red, yellow, green);
}

#rad2{
    height: 200px;
    width: 500px;
    background-image: radial-gradient(red 5%, yellow 15%, green 60%);
}

#rad3{
    height: 400px;
    width: 300px;
    background-image: radial-gradient(circle, red, yellow, green);
}

#con1{
    height: 200px;
    width: 200px;
    background-image: conic-gradient(red, yellow, green);
}

#con2{
    height: 200px;
    width: 200px;
    background-image: conic-gradient(red, yellow, green, blue, black);
}

#con3{
    height: 200px;
    width: 200px;
    background-image: conic-gradient(red, yellow, green, blue, black);
    border-radius: 50%;
}

#con4{
    height: 200px;
    width: 200px;
    background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
    border-radius: 50%;
}
