.pagination{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li a{
    display: block;
    text-decoration: none;
    border: 1px solid gray;
    color: black;
    margin: 0 10px;
    border-radius: 5px;
    padding: 8px 15px;
    transition: background 0.2s ease-in-out, color 0.2s ease;
}

.pagination li a:hover{
    background: black;
    color: whitesmoke;
}

.pagination li a.active{
    background-color: black;
    color: whitesmoke;
}

/* Breadcrumb Pagination */
ul.breadcrumb{
    padding: 8px;
    list-style: none;
    background-color: #eee;
    text-align: center;
    
}

ul.breadcrumb li{
    display: inline;
}
ul.breadcrumb li a{
    color: green;
    text-decoration: none;
}

ul.breadcrumb li + li:before{
    padding: 8px;
    color: black;
    content: "/\00a0";
     margin: 0 20px;
}
