*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background: #f4f4f4;
    padding: 20px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card{
    background: #fff;
    border-radius: 8px;
    width: 350px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.3s ease-in;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
    
.card img{
    width: 300px;
    height: 300px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.card h3{
    margin-bottom: 8px;
    color: #333;
}

.card p{
    color: #555;
    font-size: 14px;
    text-align: left;
    margin-bottom: 8px;
}

.card button{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

.card button:hover{
    background: #555;
    color: #f4f4f4;
}