body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #667eea, #764ba2);
}

.login-form{
    width: 300px;
    height: 300px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: #fff;
}

.login-form h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 35px;
}

.login-form input{
    width: 92%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

.login-form button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #764ba2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover{
    background-color: #632b9c;
}