*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    background: #0a192f url('Image/dj\ setup.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    filter: brightness(90%);
}
div{
    width: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

p{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

button{
    background-color: #ff5733;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #e74c3c;
}

@media screen and (max-width: 768px){
    .hero{
        height: 100vh;
        background-size: cover;
        padding: 40px 20px;
    }

    div{
        width: 80%;
    }

    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }

    button{
        padding: 10px 20px;
        font-size: 0.9rem;
    }
    
}